@use "variables" as v;
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
  height: 100vh;
  font-family: v.$font-family;
  background: linear-gradient( v.$color-gradient-1-from, v.$color-gradient-1-to );
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

