@use './variables' as v;

.grid-container {
  height: 100%;
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: auto;
  grid-template-areas: 
              "header"
              "hero-image"
              "hero-text"
              "footer";
}

@media screen and (min-width: v.$main-break) {
  .grid-container {
    grid-template-rows: auto auto;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
                "header      hero-image"
                "hero-text   hero-image"
                "hero-text   hero-image"
                "footer      hero-image";
  }
}